@import "tailwindcss";

:root {
  --background: #dddddd;
  --diffcolor: #ededed;
  --foreground: #020210;
  --editbox: #efefed;
  --editboxfocus: #fdfdfd;
  --bordercolor: #adadad;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-editbox: var(--editbox);
  --color-editboxfocus: var(--editboxfocus);
  --color-diffcolor: var(--diffcolor);
  --color-bordercolor: var(--bordercolor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020240;
    --diffcolor: #040440;
    --editbox: #010140;
    --editboxfocus: #010130;
    --foreground: #b6b6d3;
    --bordercolor: #f0f0f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
